<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ean-client">
            <directory suffix="Test.php">test/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="2147483647"/> <!-- E_ALL -->
    </php>
</phpunit>
